@import compass/css3

$paper: #fffff3
$home-team: #d0103a
$away-team: #7399c6

$graph-border: 1px solid darken($paper, 15%)

$default-radius: 8px

=centered($width, $height)
	position: absolute
	height: $height
	width: $width
	top: 50%
	left: 50%
	margin-top: -$height / 2
	margin-left: -$width / 2

body
	line-height: 1.5em

.scoreboard,
.score-display,
.home-score,
.away-score,
.versus
	display: inline-block

.scoreboard
	position: relative

.score-display
	width: 80px
	height: 100%

.versus
	+centered(50px, 0)
	font-size: 2.5em

#graph
	padding: 20px
	border: $graph-border
	background: $paper
	svg
		+border-radius($default-radius)
		stroke: none
		line
			stroke: #000
		path, circle
			cursor: pointer
		.home
			fill: rgba($home-team, 0.5)
			&:hover
				fill: lighten($home-team, 20%)
		.away
			fill: rgba($away-team, 0.5)
			&:hover
				fill: lighten($away-team, 20%)
