@import compass/css3

$paper: #fffff3
$home-team: rgba(#d0103a, 0.5)
$away-team: rgba(#7399c6, 0.5)

$graph-border: 1px solid darken($paper, 15%)

$default-radius: 8px

=centered($width, $height)
	position: absolute
	height: $height
	width: $width
	top: 50%
	left: 50%
	margin-top: -$height / 2
	margin-left: -$width / 2

#graph
	padding: 20px
	border: $graph-border
	background: $paper
	svg
		overflow: visible
		+border-radius($default-radius)
		overflow: visible
		stroke: none
		.home
			fill: $home-team
		.away
			fill: $away-team
		line
			stroke: #000
		path, circle
			cursor: pointer
			z-index: 1
			&:hover
				fill: lighten($home-team, 20%)
				z-index: 2
