<div class="jumbotron clearfix">
  <p class="lead">
    Grizzlies @ 76ers, 13 Dec 2014
  </p>
  <div class="scoreboard">
    <div class='versus'>
      @
    </div>
    <div class='row'>
      <div class='col-md-3'>
        <svg class='away-team-logo' width="100%" viewBox="0 0 160 160">
          <use xlink:href='images/sprites.svg#grizzlies-logo'/>
        </svg>
      </div>
      <div class='col-md-6'>
          <div class='row'>
            <div class='col-md-5'>
              <div class='scoreboard-item score'>
                {{playDetails.awayScore}}
              </div>
            </div>
            <div class='col-md-5 col-md-offset-2'>
              <div class='scoreboard-item score'>
                {{playDetails.homeScore}}
              </div>
            </div>
          </div>
          <div class='row period-and-clock'>
            <div  ng-show='playDetails.gameClock'>
              <div class='col-md-4 col-md-offset-2'>
                <div class='scoreboard-item period'>
                  {{playDetails.period | formatPeriod}}
                </div>
              </div>
              <div class='col-md-4'>
                <div class='scoreboard-item clock'>
                  {{playDetails.gameClock | secToStr}}
                </div>
              </div>
            </div>
            <div  ng-show='playDetails.final'>
              FINAL
            </div>
          </div>
      </div>
      <div class='col-md-3'>
        <svg class='home-team-logo' width="100%" viewBox="0 0 160 160">
          <use xlink:href='images/sprites.svg#sixers-logo'/>
        </svg>
      </div>
      <div class='col-md-12 play-description'>
        {{playDetails.description}}
      </div>
    </div>
  </div>
</div>

<div id='graph'>
  <div class='home-team-leads'>76ers lead</div>
  <svg  width='100%' height='100%'
        ng-attr-view_Box='{{gameData | fixAspectRatio}}'
        preserveAspectRatio='xMaxYMid'>
    <line x1='0' y1='0' ng-attr-x2='{{gameData.totalGameTime}}' y2='0'/>
    <g ng-repeat='(period, info) in gameData.periods'>
      <rect ng-attr-x='{{info.start}}' ng-attr-y='-{{gameData | graphHeight}}'
            ng-attr-width='{{info.length}}' height='100%'
            fill='none' stroke='#eed' stroke-width='5'/>
      <text ng-attr-x='{{info.start + info.length / 2}}'
            ng-attr-y='{{-(gameData | graphHeight) + 100}}'
            style='font-family: source-code-pro;
                   font-size  : 100;
                   fill       : #eed;
                   stroke     : none;'
            text-anchor='middle'>{{period}}</text>
    </g>
    <g ng-repeat='play in gameData.events'
       ng-mouseenter='setPlayDetails(play, $event)' ng-mouseleave='resetMarker($event)'
       stroke='#222'>
      <circle class='home' ng-attr-cx='{{play.totalElaspsedSeconds}}' cy='0'
              ng-attr-r='{{1 | scale}}'
              ng-show='play.margin === 0'/>
      <circle ng-attr-cx='{{play.totalElaspsedSeconds}}' cy='0' ng-attr-r='{{1 | scale}}' class='away' ng-show='play.margin === 0'/>
      <path ng-attr-d=' M {{play.totalElaspsedSeconds}} 0
                        L {{play | arcLeftEndpoint}}
                        A {{play | arc}}
                        Z'
            ng-attr-transform='{{play | setDirection}}'
            ng-class='{home: play.margin < 0, away: play.margin > 0}'
            ng-hide='play.margin === 0'/>
    </g>
  </svg>
  <div class='away-team-leads'>Grizzlies lead</div>
</div>
